.main-div{
    text-align: center;

}

.details {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tDetails {
    height: 300px;
    width: 500px;
    background-color: antiquewhite;
    border: 2px solid rgb(69, 24, 24);
    padding-top: 50px;
}